<div class="header-wrapper">
  <div class="header">
    <a href="/">Поиск</a>
    <%= image_tag("logo-large.svg", :class => "logo")%>
    <a href="/">Меню</a>
  </div>
</div>
<div class="app-wrapper">
  <div class="starter">
    <h1>«ЗА СТЕНОЙ»</h1>
    <h2>литературный журнал «за стеной»<br />2019</h2>
  </div>
  <div class="content">
    <div class="filters">
      <div class='filters-toggler'><a href='/'>фильтры</a> –</div>
      <div class="filters-content">
        <div class="row">
          <a href="/">Все,</a>
          <a href="/">Печатные выпуски,</a>
          <a href="/">Онлайн выпуски</a>
        </div>
        <div class="row">
          <a href="/">Сначала новые</a>
          <a href="/">Случайный порядок</a>
          <a href="/">Сначала старые</a>
        </div>
      </div>
    </div>
    <div class="cards-wrapper">
      <div class="card-small">
        <div class="card-top">
          <span>11.12.19</span>
          <span class="online">онлайн версия</span>
        </div>
        <%= image_tag("book.png")%>
        <h1>1-й онлайн выпуск «За стеной»</h1>
      </div>
      <div class="card-small">
        <div class="card-top">
          <span>11.12.19</span>
        </div>
        <%= image_tag("image 11.png")%>
        <h1>1-й онлайн выпуск «За стеной»</h1>
      </div>
      <div class="card-small">
        <div class="card-top">
          <span>11.12.19</span>
        </div>
        <%= image_tag("image 20.png")%>
        <h1>1-й онлайн выпуск «За стеной»</h1>
      </div>
      <div class="card-small">
        <div class="card-top">
          <span>11.12.19</span>
        </div>
        <%= image_tag("image 26.png")%>
        <h1>1-й онлайн выпуск «За стеной»</h1>
      </div>
      <div class="card-large">
        <div class="card-top">
          <span>11.12.19</span>
          <span class="online">онлайн версия</span>
        </div>
        <%= image_tag("image 25.png")%>
        <h1>1-й онлайн выпуск «За стеной»</h1>
      </div>
    </div>
  </div>
</div>
<div class="footer-wrapper">
  <div class="footer">
    <div class="footer-block">
      <%= image_tag("flags.svg", :class => "flags")%>
      <div class="footer-links">
        <a href="/">8-(966)-046-89-30</a>
        <a href="/">flagi@gmail.com</a>
        <a href="/">vk.com/flagi</a>
      </div>
    </div>
  </div>
</div>
